.card-vertical {
  background-color: transparent;
  margin-bottom: 2rem;
  cursor: pointer;
}
.card-image-container {
  max-height: 15.625rem;
}
.card-content-container {
  padding: 0;
}
.bttn-primary:hover{
  transition: all 0.3s ease 0s;
  background-color: var(--dark-primary-color);
}
.card-image-container:hover{
  transition: 0.3s ease-in-out all;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-image-container .bttn{
  color: #d4d7db;;
  transition: all 0.3s ease 0s;
}
.card-image-container .bttn:hover{
  color: var(--dark-secondary-text-color);
}
.card-image-container .wishlist-icon{
  color: var(--light-danger-color);
}
.product-price{
  color: var(--secondary-text-color);
  text-decoration: line-through;
}
.bttn:disabled{
  cursor: not-allowed;
}
.badge-star{
  background-color: var(--transparent-white);
  color: #3e4152;
  border: 1px solid var(--primary-color);
}
.star-icon{
  margin: 0 5px;
  color: var(--success-text-color);
}
