.homepage-feature-title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .hero-img-wrapper {
    margin-bottom: 1rem;
  }
  .asideSection {
    margin-top: 1rem;
    display: grid;
    padding: 0 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }
  .feature-box {
    position: relative;
    cursor: pointer;
    max-width: 37.5rem;
    text-align: center;
  }
  .homepage-feature-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.75rem;
  }
  
  @media only screen and (max-width: 768px) {
    .asideSection {
      grid-template-columns: repeat(1, minmax(15%, 1fr));
    }
  }
  